@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';

/*
	Optics by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Icon */

	.icon {
		&.alt {
			&:before {
				color: inherit !important;
			}
		}
	}

/* List */

	ul {
		&.icons {
			&.major {
				text-align: center;

				> li {
					display: inline-block;
					width: 33%;

					> .icon {
						display: inline-block;
					}
				}
			}
		}

		&.labeled-icons {
			> li {
				display: inline-block;
			}
		}
	}

/* Features */

	.features {
		ul, object, .image {
			display: inline-block;
			width: 33%;
			vertical-align: top;
		}
	}

/* Spotlight */

	.spotlight {
		.image, article, object {
			float: left;
			margin: 0 (_size(element-margin) * 1.5) 0 0;
		}

		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}

/* Banner */

	#banner {
		background-image: url('../../images/banner.jpg');
		background-size: cover;
		background-repeat: no-repeat;

		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background-color: transparent;
			background-image: url('images/ie/overlay.png');
			background-repeat: repeat-x;
			background-size: auto 100%;
			opacity: 1;
		}
	}

/* Main */

	#main {
		> header {
			position: relative;
			background-image: url('../../images/banner.jpg');
			background-size: cover;
			background-repeat: no-repeat;

			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				background-color: transparent;
				background-image: url('images/ie/overlay.png');
				background-repeat: repeat-x;
				background-size: auto 100%;
				opacity: 1;
			}

			> * {
				position: relative;
				z-index: 1;
			}
		}
	}